language: node_js

node_js:
  - "10"

sudo: false
dist: trusty

addons:
  chrome: stable

services:
  - docker

branches:
  only:
    - master

cache:
  yarn: true
  directories:
    - node_modules
    - frontend/node_modules
    - backend/node_modules

git:
  depth: 3
  quiet: true

env:
  global:
    - API_HOST='https://api.unwel.ch'

before_install:
  - "curl -o- -L https://yarnpkg.com/install.sh | bash"
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

install:
  - cd frontend
  - yarn
  - API_HOST=https://api.unwel.ch yarn run build
  - cd ..
  - cd backend
  - yarn
  - cp .env.dist .env
  - API_HOST=https://api.unwel.ch yarn run build
  - cd ..

after_install:
  - cd frontend
  - yarn test
  - cd ..
  - cd backend
  - yarn test
  - cd ..

before_script: yarn start & export APP_PID=$!
script: yarn test:e2e
after_script: kill $APP_PID

before_deploy:
  - cd frontend
  - API_HOST=https://api.unwel.ch yarn run build
  - cd ..
  - cd backend
  - API_HOST=https://api.unwel.ch yarn run build
  - cd ..

deploy:
  provider: script
  on:
    branch: master
  script:
    - docker login -u="$DOCKERHUB_USERNAME" -p="$DOCKERHUB_PASSWORD"
    - docker build -t frontend ./frontend
    - docker tag frontend unwelch/frontend
    - docker build -t backend ./backend
    - docker tag backend unwelch/backend
    - docker push unwelch/frontend
    - docker push unwelch/backend
